<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>WebScockets 101</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
        <link href="/styles.css" rel="stylesheet" />
    </head>
    <body>

        <div id="chat">
            <h2>Your name: </h2>
			            <input id="handle" type="text" placeholder="Handle" />
            <div id="chat-window">
                <div id="output"></div>
                <div id="feedback"></div>
            </div>
            <input id="message" type="text" placeholder="Message" />
            <button id="send">Send</button>
        <div>
		            <h2>Users</h2>
            <div id = "users" >Users: </div>
		</div>
		</div>


    </body>
    <script src="/chat.js"></script>
	    <script src="/jquery-3.3.1.js"></script>

</html>
