<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title> </title>
</head>
<body>
<h1>  Enter your name </h1>
    <form id = "login" method = "post" action = "/login">
	<input id = "username" name = "username" type="text" , placeholder="Your name..."/>
    <input id = "password" name = "password" type="text" , placeholder="Your password..."/>

    <input id = "submit" type="submit" />
</form>
</body>
</html>