
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #555;
  }
  li  {
    float: left;
  }
  li  a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
    li a:hover {
    background-color: #222;
    cursor : pointer;
  }
  